/* CSS HEX */
:root,  
    [data-opcion = "uno"] {
    --color1: #0d1b2a;
    --color2: #197278;
    --color3: #edddd4;
    --color4: #c44536;
    --color5: #772e25;  
}
    [data-opcion = "dos"] {
    --color1: #283618;
    --color2: #606c38;
    --color3: #fefae0;
    --color4: #dda15e;
    --color5: #bc6c25;  
}
    [data-opcion = "tres"] {
    --color1: #0d1b2a;
    --color2: #ffb703;
    --color3: #8ecae6;
    --color4: #fb8500;
    --color5: #219ebc;  
}
    [data-opcion = "cuatro"] {
    --color1: #0d1b2a;
    --color2: #1b263b;
    --color3: #e0e1dd;
    --color4: #778da9;
    --color5: #415a77;  
}
[data-opcion = "cinco"] {
    --color1: #3d405b;
    --color2: #81b29a;
    --color3: #f4f1de;
    --color4: #f2cc8f;
    --color5: #e07a5f;  
}
[data-opcion = "seis"] {
    --color1: #212529;
    --color2: #6c757d;
    --color3: #f8f9fa;
    --color4: #adb5bd;
    --color5: #495057;  
}
[data-opcion = "seis"] {
    --color1: #132a13;
    --color2: #4f772d;
    --color3: #ecf39e;
    --color4: #90a955;
    --color5: #31572c;  
}
[data-opcion = "siete"] {
    --color1: #463f3a;
    --color2: #bcb8b1;
    --color3: #f4f3ee;
    --color4: #e0afa0;
    --color5: #8a817c;  
}
[data-opcion = "ocho"] {
    --color1: #5f0f40;
    --color2: #0f4c5c;
    --color3: #fb8b24;
    --color4: #e36414;
    --color5: #9a031e;  
}
[data-opcion = "nueve"] {
    --color1: #0d574f;
    --color2: #ffa69e;
    --color3: #ddfff7;
    --color4: #aa4465;
    --color5: #861657;  
}
[data-opcion = "diez"] {
    --color1: #d68c45;
    --color2: #ffc9b9;
    --color3: #fefee3;
    --color4: #4c956c;
    --color5: #2c6e49;  
}



/* button[aria-pressed="true"] { 
    background: var(--color1);
    color: var(--color3);
    border: 3px solid var(--color5);
  } */


/* inicio de estilos generales */
* {
    box-sizing: border-box;
}

header {
    background-color: var(--color5);
    color: var(--color3); 
}

h1, h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}
#CV h3, #CV h4 {
    color: var(--color5);
}
h4 {
    font-size: calc(1rem + .25vw);
}

p, ul {
    list-style-type: disclosure-closed;
}

body {
    background-color: var(--color3);
    color: var(--color1);
}

footer  {
    background-color: var(--color5);
    color: var(--color3);
}

.centrar {
    text-align: center;
}

#logo {
    contain: strict;
    position: relative;
}
#logo img{
    float: right;
    max-height: 80px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
}

#theme {
    display: inline-flex;
}

.themebtn {
    border-radius: 50%;
    min-width: 2rem;
    font-size: large;
    font-weight: 600;
    margin: 0.3rem;
    color: var(--color3);
    background-color: var(--color1);
    border-color: var(--color4);
}

.themebtn:hover {
    color: var(--color1);
    background-color: var(--color3);
}

#cambioColor p {
    display: inline; 
    color: var(--color3);
    font-weight: 500;
    margin: auto;
}

#colorbtn {
    min-width: fit-content;
    max-width: 50vw;
    background-color: var(--color1);
    color: var(--color4); 
    font-size: large;
    font-weight: bold;
    border-radius: 0.375rem;
    margin: 0.25rem;
}

#colorbtn:hover {
    background-color: var(--color3);
    color: var(--color1);
}

#header {
    display: flex;
    flex-wrap: nowrap;
}
#obj-name {
    animation-name: Colores;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-delay: 2s;
}

@keyframes Colores {
0% {
    color: var(--color3);
}
25% {
    color: var(--color2);
}
50% {
    color: var(--color4);
}
100% {
    color: var(--color3);
}
}
/* fin de estilos generales */

/* inicio del menu: */
.dropbtn {
    width: fit-content;
    background-color: var(--color4);
    color: var(--color1); 
    font-size: large;
    font-weight: bold;
    border-color: var(--color5);
    border-radius: 0.375rem;
    margin: 0.25rem
}

.dropbtn:hover {
    background-color: var(--color3);
    border-color: var(--color3);
    color: var(--color1)
}

.contenido-dropdown {
    display: none;
    position: absolute;
    background-color: var(--color1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px; 
    z-index: 1;
}

#dropdown a {
    color: var(--color3);
    text-decoration-line: none;
}

.dropdown:hover .contenido-dropdown, #cambioColor:hover .contenido-dropdown {
    display: block;
}

/* fin del menu */

section {
    padding: 1.5vh 1vw;
}

#persona {
    background-color: var(--color1);
    color: var(--color3);
}

#p-img {
    width: 100%;
    max-width: 300px;
    transition: width 1.5s;
}
#p-img:hover {
    width: 350px;
}

#nombrePersona {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#CV {
    display: block;
    padding-left: 0.25rem;
    padding-right: 0.20rem;
}
#univDiv {
    width: inherit;
}

#universidad {
    width: inherit;
    padding: 15%;
    margin-top: 5%;
}

/* inicio formulario  */
#formulario {
    padding: 0.5rem;
}
fieldset {
    padding: 10rem 0;
} 

label {
    display: block; /* no funciona debido a bootstrap */
    text-align: left;
    margin: 0.5rem 0;
}

input {
    width: fit-content;
    max-width: 95vw;
    text-align: left;
}
.textarea {
    display: block;
    text-align: center;
}
#motivo {
    width: 92vw;
    height: 5rem;
    text-align: center;
}

.text-input, #url{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid var(--color4);
    border-radius: 0.375rem;
    margin-top: 0.25rem;
}

form .row {
    margin-top: 0.5rem;
}

.form-label, label{
    font-weight: 600;
}

.radio-input {
    font-weight: 500;
}

.radio-input {
    display: block;
}

.boton {
    border-radius: 0.375rem;
    border: 3px solid var(--color5);
    background-image: radial-gradient(var(--color3), var(--color4)); 
    color: var(--color1);
    text-shadow: -0.1px -0.1px 3px var(--color3), 0.1px 0.1px 3px var(--color3);
    font-size:larger;
    font-weight: 600;
    margin: 0.75rem;
}

.boton:hover {
    background-image: radial-gradient(var(--color1), var(--color5)); 
    color: var(--color3);
    border: 3px solid var(--color4);
    text-shadow: none;
}

input:placeholder-shown  {
    text-overflow:ellipsis;
}

/* fin formulario */

span {
    font-weight: 600;
}
.contacto {
    text-align: center;
}

#contacto {
    padding-top: 0.75rem;
}




/* Inicio de media query */

/* Smartphone */
@media screen and (max-width: 575px) {
    #logo {
        display: none;
    }
    #divFoto {
        width: 100vw;
        text-align: center;
    }
    #p-img {
        width: 100vw;
        margin-bottom: 2vh;
    }
    #persona {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        color: var(--color4); 
    }
    #nombrePersona {
        width: 100vw;
    }

    #univDiv {
        display: flex;
        justify-content: center;
    }
    #universidad {
        padding: 1rem;
        width: 30vh;
        margin-top: 5%;
    }
    footer {
        flex-wrap: wrap;
    }
    .dropbtn, #colorbtn {
        width: 50vw;
        margin: 0;
        border-radius: 0;
        border: none;
        padding: 0;
    }
    #dropdown:hover .contenido-dropdown {
        display:grid;
        width: 100vw;
        text-align: center; 
    }
    #divNav, #cambioColor {
        padding: 0;
        display: flex;

        align-items: center;
    }
    #cambioColor:hover .contenido-dropdown {
        display: grid;
        justify-content: space-around;
        width: 10vw;
        top: 1.7rem;
        right: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .themebtn {
        margin: 0.15rem
    }
    .themebtn::before {
        content: normal;
    }

}


/* Tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
    #persona {
        display: flex;
    }
    #p-img {
        width: 250px;
    }
    #nombrePersona {
        width: 75vw;
    }
    #universidad {
        margin-top: 5%;
    }
    #educacion {
        column-count: 2;
    }
    #colors-dropdown {
        border-bottom-left-radius: 1rem;
        right: 0;
    }
    #cambioColor {
        display: flex;
        justify-content: flex-end;
    }
    #menu-dropdown {
        border-bottom-right-radius: 1rem;
    }
}



/* Desktop */
@media screen and (min-width: 769px) and (max-width: 980px)  {
    #colors-dropdown {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        right: 0;
    }
    #cambioColor {
        display: flex;
        justify-content: flex-end;
    }    
}



/* Bigest screen */
@media screen and (min-width: 769px)  {
    #persona {
        display: flex;
        text-align: center;
    }
    #p-img {
        width: 250px;
    }
    #nombrePersona {
        width: 75vw;
    }
    
    #CV {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        }
   
    .cv {
        width: 38vw;
        /* max-width: 25%; */
        max-width: 40%;
    }
    .contacto {
        text-align: left;
        margin-bottom: 1rem;
    }
    #menu-dropdown {
        max-width: 160px;
        border-bottom-right-radius: 1rem;
    }
    .colorsDiv {
        display: inline; 
    }
}

@media screen and (min-width: 981px) {
    #cambioColor {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    #colors-dropdown {
        display: flex;
        flex-wrap: nowrap;
        position: static;
        background-color: var(--color5);
        color: var(--color3);
        height: 3rem; /* revisar */
        margin: 0;
        padding: 0;
    }
    #cambioColor:hover .contenido-dropdown {
        display: flex;
    }
    #colorbtn {
        border: 0;
        color: var(--color3);
        background-color: var(--color5);
    }

    #colorbtn:hover {
        color: var(--color2);
        background-color: var(--color5);
    }
}


/* Fin de media query */

/* mapa: */
.map {
    min-height: 250px;
    max-height: 100vh;
    margin-bottom: 1rem;
}

#geolocalizacion {
    border: 2px solid var(--color1);
    background-color: var(--color3);
    color: var(--color1);
    text-shadow: none;
}

#geolocalizacion:hover {
    border-color: var(--color4);
    background-color: var(--color5);
    color: var(--color3);

} 
